
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Cabin:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
.App {
 
  font-family:'Cabin';
}
.App-header {
  background-color: #212429;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

h2{
  margin-bottom: 0px;
}



  
.emoji-render:hover{
  cursor: pointer;
 
}

input{
  background-color: #212429;
  padding: 8px;
  color: white;
  border: 0px;
  border-radius: 4px;
  width: 40%;
}

.genre-list{
  background-color: #282c34;
  border:2px solid silver;
  border-radius: 8px;
  margin:4px 8px;
  padding: 4px 6px;
  text-transform:  capitalize;
 
  
  

}

.genre-list:hover{
  cursor: pointer;
}



iframe{
  border-radius: 8px;
  margin: 0px;
  width: 100%;
  min-width: 350px;
  opacity: 0.8;
 
}

#genre-name{
text-align: left;
text-transform: uppercase;
padding: 8px;

  }

p{
  margin: 0;
  font-size:initial;
}

.genre-render {
  width: 100vw;
  min-width: 350px;
  max-width: 500px;
 
 
}
.song-wrap{
  background-color:#282c34 ;
  margin: 16px;
  border: 2px;
  border-radius: 8px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
}

.inline-wrapper{
  display: flex;
  flex-direction: column;

  margin-bottom: 32px;
  margin-top: 4px;

}
#row{
  display: flex;
  flex-direction: row;
}